@charset "UTF-8";
/*------------------------------
ページ共通で使うインナー
------------------------------*/
.common-inner {
  width: 960px;
  margin: 0 auto;
}

/*レスポンシブ対応*/	
/*------------------------------
ページヘッダー
------------------------------*/
.page-header {
  background-color: #9fdbea;
  display:flex;
}

.page-header__inner {
  padding: 24px 0;
}

.page-header__title {
  color: #fff;
  line-height: 1.0;
}


.header-logo{
 color:#505b66;
 padding:0px 20px;
 font-family:"Josefin Sans",sans-serif;
}

.page-header__main-visual img {
  width: 100%;
}

/*------------------------------
メインコンテンツ
------------------------------*/
.main-content {
  padding: 40px 0;
  background-color: #FAF5ED;
}

h2{
font-family:"Josefin Sans",sans-serif;
line-height: 1.0;
padding:20px 20px
}

.profileimage{
 width:250px;
 height:auto; 
 object-fit: cover;
 box-sizing: border-box;
 background-color: rgba(159,219,234,0.6);
}

p{
 font-family:"Josefin Sans",sans-serif;
 font size:1.5rem;
 max-width: 960px;
width: 100%;
margin-left: auto;
margin-right: auto;
}

/* worksに掲載するイラスト */

.feature-list {
  width: 960px;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
  background-color: rgba(159,219,234,0.6);
}

.feature-list__item:nth-child(even) {
  /* デザインを見る限り、奇数番は左、偶数番は右に文章があるのでodd/evenを使う */
  flex-direction: row-reverse;
}

.feature-block {
  display: flex;
  background-color: #fffff3;
}

.feature-block__image {
  width: 50%;
}

.feature-block__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature-block__wrapper {
  width: 50%;
  padding: 40px 20px;
  box-sizing: border-box;
}

.feature-block__title {
  margin-bottom: 10px;
  font-family:"Josefin Sans",sans-serif;
  font-size: 20px;
  line-height: 1.75;
}

.feature-block__text {
  font-size: 15px;
  font-family:"Josefin Sans",sans-serif;
  line-height: 1.75;
}

/*------------------------------
ページフッター
------------------------------*/
.page-footer {
  padding: 22px 0;
  background-color: #9fdbea;
}

.page-footer p {
  font-size: 15px;
  line-height: 1.0;
  text-align: center;
  color: #fff;
}
