@charset "UTF-8";
/*------------------------------
ページ共通で使うインナー
------------------------------*/
.common-inner {
  width: 960px;
  margin: 0 auto;
}

/*------------------------------
ページヘッダー
------------------------------*/
.page-header {
  background-color: #9fdbea;
}

.page-header__inner {
  padding: 24px 0;
}

.page-header__title {
  color: #fff;
  line-height: 1.0;
}


.header-logo{
 color:#505b66;
 font-family:"Josefin Sans",sans-serif;
 float left;
}

li{
list-style: none;
float:left;
font-family:"Josefin Sans",sans-serif;
font size:1rem;
padding:0px 20px;
}

.page-header__main-visual img {
  width: 100%;
}

/*------------------------------
メインコンテンツ
------------------------------*/
.main-content {
  padding: 40px 0;
  background-color: #FAF5ED;
}

h2{
font-family:"Josefin Sans",sans-serif;
}

h3{
font-family:"Josefin Sans",sans-serif;
font size:2rem
}

p{
 font-family:"Josefin Sans",sans-serif;
 font size:1.5rem;
}

.skillset{
font-family:"Josefin Sans",sans-serif;
font size:3rem;
}


/* 写真のリスト */
.work-list {
  margin-bottom: 50px;
}

.work-list__item:not(:last-child) {
  margin-bottom: 30px;
}

/* worksに掲載するイラスト */
.photo-work {
  display: flex;
}

img{
height:400px;
width:400px;
object-fit: cover;
}

/* 過去作品へのテキストリンク */
.old-works {
  line-height: 1.0;
  text-align: center;
}

.old-works a {
  color: #707070;
  /*
      子要素の.largeと.mediumのフォントサイズが異なっているので、
      text-decoration: underlineでは下線の太さが異なってしまう。
      そのためborder-bottomで代替する。
    */
  text-decoration: none;
  border-bottom: 2px solid;
}

.old-works a:hover {
  border-bottom: none;
}

.old-works .large {
  font-size: 3.6rem;
}

.old-works .small {
  font-size: 2.4rem;
}

/*------------------------------
ページフッター
------------------------------*/
.page-footer {
  padding: 22px 0;
  background-color: #9fdbea;
}

.page-footer p {
  font-size: 1.6rem;
  line-height: 1.0;
  text-align: center;
  color: #fff;
}
